<div>
	<% @page.r_entries.all.each do |entry| %>
		<h3><%= entry.title.html_safe%></h3>
		<p><%= entry.entry.html_safe %></p>
	<% end %>
	<% counter = 0%>
	<h3>Members</h3>
	<ul>		
		<% RContact.all.each do |contact| %>
			<%=contact.name%>
		<% end %>
	</ul>
</div>
